div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}
.articles-list.lists_block.sections .item:last-child{
	margin-bottom: 30px;
}
/* Dropdown child items */
.articles-list.lists_block.sections .item .text-childs-list{
	margin: 0;
}
.articles-list.lists_block.sections .item .text-childs-list li{
	display: inline-block;
	line-height: 1.2em;
	margin: 5px -2px 5px 0;
	padding-left: 0;
	vertical-align: top;
	width: 50%;
}
.articles-list.lists_block.sections .item .text-childs-list li:before{
	display: none;
}
.articles-list.lists_block.sections .item .button_opener{
	background: none;
	border: none;
	cursor: pointer;
}
.articles-list.lists_block.sections .item .button_opener .svg{
	display: inline-block;
	margin-right: 7px;
}
.articles-list.lists_block.sections .item .button_opener.active{
	margin-top: 15px;
}
.articles-list.lists_block.sections .item .button_opener.active .svg{
	transform: rotateX(180deg);
}
.articles-list.lists_block.sections .item .button_opener:hover{
	color: #000;
}
.articles-list.lists_block.sections .item .button_opener:hover .svg path{
	fill: #000;
}
.articles-list.lists_block.sections .item .preview-text{
	margin-bottom: 15px;
}