/* yandex map baloon */
div.bx-yandex-map{font-size:1em;}
.ymaps-outer-pane{display:none;}
.ymaps-shadows-pane{display:none;}
.ymaps-b-balloon{width:280px!important;margin-top: 9px;margin-left: 1px;}
.ymaps-b-balloon .ymaps-b-balloon__sprite{display:none;}
.ymaps-b-balloon .ymaps-b-balloon__content>ymaps{width:100%!important;height:auto!important;}
.ymaps-b-balloon .ymaps-b-balloon__tl{display:none;}
.ymaps-b-balloon .ymaps-b-balloon__bl{display:none;}
.ymaps-b-balloon .ymaps-b-balloon__br{display:none;}
.ymaps-b-balloon .ymaps-b-balloon__content{padding:0;border:none;border-radius:2px;-webkit-box-shadow:0px 3px 5px 0px rgba(0, 0, 0, 0.1);-moz-box-shadow:0px 3px 5px 0px rgba(0, 0, 0, 0.1);box-shadow:0px 3px 5px 0px rgba(0, 0, 0, 0.1);}
.ymaps-b-balloon .ymaps-b-balloon__content .title{
    font-size: 1.18em;
    line-height: 1.55em;
    font-weight: bold;
}
.ymaps-b-balloon .ymaps-b-balloon__content .title a {color: #383838;}
.ymaps-b-balloon__content-body a.button {display: none;}
.ymaps-b-balloon .ymaps-b-balloon__content .info-content{margin:12px 0 0;font-size: 1.19em;line-height:1.3333em;}
.ymaps-b-balloon .ymaps-b-balloon__content .info-content>div{position:relative;margin:12px 0 0;}
.ymaps-b-balloon .ymaps-b-balloon__content .info-content .metro{padding-left:0;}
.ymaps-b-balloon .ymaps-b-balloon__content .info-content>div:before{content:"";position:absolute;}
.ymaps-b-balloon .ymaps-b-balloon__content .info-content .phone a{color:#333;}
.ymaps-b-balloon .ymaps-b-balloon__content .info-content .schedule{line-height:1.5385em;}
.ymaps-b-balloon .ymaps-b-balloon__content .info-content>div:first-of-type{margin-top:0;}
.ymaps-b-balloon .ymaps-b-balloon__content .info-content .item_type{padding-left:0;margin-top:17px;}
.ymaps-b-balloon .ymaps-b-balloon__content .item_type{margin-top:17px;font-size:12px;line-height:18px;color:#888888;}
.ymaps-b-balloon .ymaps-b-balloon__content-holster{padding:23px 30px 22px;}
.ymaps-b-balloon .ymaps-b-balloon__close {
    background-image: url(../../../../images/svg/close_map_baloon.svg);
    height: 20px;
    width: 20px;
    display: block;
    position: absolute;
    right: 15px;
    top: 13px;
    opacity: 0.6;
    background-position: center;
}
.ymaps-b-balloon .ymaps-b-balloon__close:hover {opacity: 1;}

.ymaps-b-balloon:before {content: "";position: absolute;bottom: -14px;left: 50%;margin-left: -7px;border: 7px solid transparent;border-top: 7px solid #fff;}
.ymaps-b-balloon .ymaps-b-balloon__close .svg-close{position:absolute;left:50%;top:50%;margin:-5px 0 0 -5px;background:none;}
.ymaps-b-balloon .ymaps-b-balloon__close:hover .svg-close path{opacity:1;}
.ymaps-b-balloon .ymaps-b-balloon__content .info-content .metro i{background: rgba(0, 0, 0, 0) url(../../../../images/svg/icons_wish.svg) no-repeat scroll -1px -237px;display: block;float: left;height: 9px;margin: 5px 6px 0 0;width: 14px;}
.ymaps-point-overlay ymaps {
    bottom: -5px;
    left: -23px;
    position: absolute;
}
